APP_NAME=Sensor Simulation
DEBUG=true
DB_USER=sensor_user
DB_PASSWORD=sensor_pass_123
DB_NAME=sensor_db
DB_HOST=localhost
DB_PORT=5433
TCP_INGEST_ENABLED=true
TCP_INGEST_HOST=127.0.0.1
TCP_INGEST_PORT=9000
